@font-face {
  font-family: "mamemoji";
  src: url("../fonts/mamemoji.ttf") format("woff2"),
    url("../fonts/mamemoji.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

canvas {
  top: 0px;
  left: 0px;
  cursor: none;
}

:root {
  --bg: rgb(28, 31, 7);
  --fg: rgb(178 176 190);
}

body {
  margin: 0;
  background-color: var(--bg);
  cursor: none;
  position: fixed;
  filter: blur(0.5px) hue-rotate(20deg) saturate(0.6) contrast(3);
}

#start-overlay {
  background-color: rgba(136, 18, 210, 0.96);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  font-size: 30px;
}

img {
  mix-blend-mode: exclusion;
  image-rendering: pixelated;
}

p,
sup {
  color: var(--fg);
  font-size: 50px;
  font-family: mamemoji;
  width: 500px;
  mix-blend-mode: color-dodge;
  margin-block: 10px;
}

sup {
  font-size: 40px;
}

#title,
#score {
  color: rgb(219, 147, 255);
  mix-blend-mode: color-dodge;
}

#title {
  margin: 30px;
  position: absolute;
}

#score {
  margin: 60px 30px;
  position: absolute;
}

#sound {
  position: absolute;
  top: 120px;
  left: 30px;
  z-index: 99;
}

#vca-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  content: " ";
  background-image: radial-gradient(transparent, rgb(88, 76, 254));
  background-size: 3px 3px;
}
